name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  Formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          override: true
          components: rustfmt
      
      - name: Check format
        run: cargo fmt -- --check
     
  Linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Checkout submodules
        uses: textbook/git-checkout-submodule-action@2.0.0

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          override: true
          components: clippy

      - name: Lint with clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}


  Testing:
    needs: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Checkout submodules
        uses: textbook/git-checkout-submodule-action@2.0.0

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          override: true

      - name: Install system dependencies
        run: |
            sudo apt-get install --yes zlib1g-dev libbz2-dev musl musl-dev musl-tools clang libc6-dev

      - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          args: '--all-features --out Lcov --exclude-files hts-sys/*_prebuilt_bindings.rs -- --test-threads 1'

      - name: Upload coverage
        uses: coverallsapp/github-action@v1.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info

      - name: Test standard build without default features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-default-features

      - name: Test standard build with all features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features

      - name: Test musl build without default features
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: test
          args: --release --target x86_64-unknown-linux-musl --no-default-features

      - name: Test musl build with all features
        uses: actions-rs/cargo@v1
        with:
          use-cross: true 
          command: test
          args: --release --target x86_64-unknown-linux-musl --all-features --verbose
      
      - name: Test musl build with all features and debug symbols (non --release)
        uses: actions-rs/cargo@v1
        with:
          use-cross: true 
          command: test
          args: --target x86_64-unknown-linux-musl --all-features --verbose

  Testing-OSX-Intel-Catalina:
    needs: Formatting
    runs-on: macos-10.15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
        with:
          submodules: true

      - name: Install htslib dependencies
        run: brew install bzip2 zlib xz curl-openssl

      # Test for Intel OSX
      - uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          target: x86_64-apple-darwin
          override: true

      - name: Test build without default features for the default x86_64 OSX target
        uses: actions-rs/cargo@v1.0.1
        with:
          use-cross: false  # cross is not supported on GHA OSX runner, see: https://github.community/t/why-is-docker-not-installed-on-macos/17017
          command: test
          args: --release --all-features --verbose

  Testing-OSX-Intel-BigSur:
    needs: Formatting
    runs-on: macos-11.0
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
        with:
          submodules: true

      - name: Install htslib dependencies
        run: brew install bzip2 zlib xz curl-openssl

      # Test for Intel OSX
      - uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          target: x86_64-apple-darwin
          override: true

      - name: Test build without default features for the default x86_64 OSX target
        uses: actions-rs/cargo@v1.0.1
        with:
          use-cross: false  # cross is not supported on GHA OSX runner, see: https://github.community/t/why-is-docker-not-installed-on-macos/17017
          command: test
          args: --release --all-features --verbose


  Testing-OSX-M1-BigSur:
    needs: Formatting
    runs-on: macos-11.0
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
        with:
          submodules: true

      - name: Install htslib dependencies
        run: brew install bzip2 zlib xz curl-openssl

      # Test for M1 macs
      - uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: nightly
          target: aarch64-apple-darwin
          override: true # Set installed toolchain as an override for the current directory
          default: true # Set installed toolchain as a default toolchain

      - name: Test build without default features for the default x86_64 OSX target
        uses: actions-rs/cargo@v1.0.1
        with:
          use-cross: false  # cross is not supported on GHA OSX runner, see: https://github.community/t/why-is-docker-not-installed-on-macos/17017
          command: build
          args: --release --all-features --verbose --target aarch64-apple-darwin

  Testing-OSX-MUSL-BigSur:
    needs: Formatting
    runs-on: macos-11.0
    steps:
        - name: Install rs toolchain
        - uses: actions-rs/toolchain@v1.0.6
          with:
            toolchain: stable
            target: x86_64-unknown-linux-musl
            override: true

        - name: Install OSX musl-cross
          run: brew install FiloSottile/musl-cross/musl-cross

        # https://github.com/FiloSottile/homebrew-musl-cross/issues/16
        - name: Provide musl-gcc symlink for the right musl arch
          run: ln -sf /usr/local/opt/musl-cross/libexec/bin/x86_64-linux-musl-gcc /usr/local/bin/musl-gcc

        - name: Test musl build without default features
          uses: actions-rs/cargo@v1
          with:
            use-cross: false  # cross is not supported on GHA OSX runner, see: https://github.community/t/why-is-docker-not-installed-on-macos/17017
            command: build
            args: --release --target x86_64-unknown-linux-musl --no-default-features

        - name: Test musl build with all features and debug symbols (non --release) on OSX
          uses: actions-rs/cargo@v1.0.1
          with:
            use-cross: false
            command: build
            args: --target x86_64-unknown-linux-musl --all-features --verbose
